body {
    background-color: white;
}

#restaurantName {

}

#calcDisplay {
    border: 2px solid black;
    height: 50px;
    padding: 5px;

}

#calcDisplay::before {
    content: "$";
}

.calcBtn{
    display: flex;
    border
    padding: 1px;
}

.calcbtn:nth-child(1) {
    background-color: red;
}

.btn {
    display: flex;
    flex-grow: initial;
    margin: 2px;
    padding: 15px;
    border-radius: 15px
}

.operator:nth-child() {

}

