body {
    background-color: white;
}

#restaurantName {

}

#calculator {
    border: 1px solid red;
}

#calcDisplay {
    border: 2px solid black;
    height: 50px;
    padding: 5px;

}

#calcDisplay::before {
    content: "$";
}

.calcBtn{
    padding: 1px;
}

/* .btn:nth-child(1) {
    color: red;
} */

.btn {
    color: blue;
    
    margin: 2px;
    padding: 15px;
    border-radius: 15px
}

.operator:nth-child() {

}

